html {
height:100%;

}

body{
  padding: 0;
  margin: 0;
  height:100vh;
  font-family: "Helvetica neue", sans-serif;

}
/*.innhold {
  background-image: url("../bilder/forside.jpeg");
  background-size: cover;
}*/

.background {
	background-image: url("../bilder/forside.jpeg");
	height:100%;
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;
	padding:0;
	margin:0;
	
}


.tittel h1{
	position:absolute;
	text-align:center;
	background-color:rgba(2,2,2,0.5);
	color:white;
	left:55%;
	top:45%;
  transform: translate(-50%, -50%);
	padding:16px;
	
}

.tittel h2{
	position:absolute;
	text-align:center;
	background-color:rgba(2,2,2,0.5);
	color:white;
	left:55%;
	top:55%;
	padding:16px;
  transform: translate(-50%, -50%);
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #7DD181;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.leaf{
	background-color: #7DD181;
	width:200px;
	text-align:center;
  position: relative;

}

.leaf img {
	width: 75%;
}

.sidenav a{
  display: block;
  font-size: 20px;
  color: black;
  padding: 18px;
  text-align: center;
  text-decoration: none;
}

.sidenav a.active{
  background-color: #4CAF50;
  color: black;
}

.sidenav a:hover:not(.active){
  background-color: #555;
  color: white;
}

.sidenav img{
  width: 75%;
}
#forside {
  text-align: center;
}
#forside h3{
  font-style: italic;
  font-weight: bold;
}

#forside img{
 width: 90%;
 height: auto;
}
.innhold img {
  width: 80%;
  height: auto;

  width: 800px;
  height: 500px;
  padding: 10px


}

.Logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
 
}

.innhold{
  margin-left: 200px;
  padding: 1px 16px;
  overflow: auto;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.8;
}

.innhold h3{
  margin-bottom: 2.5px;
}
.boks {
  background-color: gray;
  height: 400px;
  width: 240px;
  border-radius: 20px;
  border: 4px solid black;
}
.boks img{
  border: 2px solid black;
  margin-top: 5%;
  width: 95%;
  height: 90%;
}

#sources{
  text-align: left;
  padding-left: 50px;
}

.footer{
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  background-color:#7DD181;
  color: black;
  text-align: left;
}
.description {
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 2px 4px 2px white;
  width: 20%;
  margin-left: 60%;
}

.footer a{
  display: inline;
  font-size: 20;
  color: black;
  padding: 26px;
  color: black;
  padding: 17px;
  text-align: center;
  text-decoration: none;
}

.footer a.active{
  background-color: #555;
  color: white;
}

.footer a:hover:not(.active){
  background-color: #555;
  color: white
}
#en img {
  width: 25px;
  height: 20px;
  vertical-align: middle;
  margin-right: 2px;
  border-radius: 30%;

}
#no img{
  width: 25px;
  height: 20px;
  vertical-align: middle;
  margin-right: 2px;
  border-radius: 30%;
}

@media screen and (max-width: 700px) {
  .footer {
    text-align: center;
    padding: 10px;
  }
  .footer a {
    padding: 4px;
    align: bottom;
  }
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .sidenav a {
    display: inline-block;
  }
  div.innhold {
    margin-bottom: 5em;
    margin-left: 0;
  }

  .leaf {
    width: 100%;
    height: auto;
    position: relative;
  }

 .leaf img {
display: none;
}

.Logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  
}

@media screen and (max-width: 550px) {
  .sidenav a {
    text-align: center;
    display: grid;

  }
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
.Logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
 
  }

   .leaf img {
	display: none;
}
.innhold {
  margin-bottom: 4.5em;
}
