html {

}

body{
  padding: 0;
  margin: 0;
  height:100vh;
  font-family: "Helvetica neue", sans-serif;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #7DD181;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-bottom: 50px;
}

.leaf{
	background-color: #7DD181;
	width:200px;
	text-align:center;
  position: relative;

}

.leaf img {
	width: 75%;
}

.sidenav a{
  display: block;
  font-size: 20px;
  color: black;
  padding: 18px;
  text-align: center;
  text-decoration: none;
}

.sidenav a.active{
  background-color: #4CAF50;
  color: black;
}

.sidenav a:hover:not(.active){
  background-color: #555;
  color: white;
}

.sidenav img{
  width: 75%;
}
#forside {
  text-align: center;
}
#forside h3{
  font-style: italic;
  font-weight: bold;
}
.innhold img {
  width: 80%;
  height: auto;
  
}
div.Logo{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100px;
  text-align: center;
}

.innhold{
  margin-left: 200px;
  padding: 1px 16px;
  overflow: auto;
  margin-bottom: 50px;
  text-align: center;
}
.boks {
  background-color: gray;
  height: 400px;
  width: 240px;
  border-radius: 20px;
  border: 4px solid black;
}
.boks img{
  border: 2px solid black;
  margin-top: 5%;
  width: 95%;
  height: 90%;
}

.footer{
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#7DD181;
  color: black;
  text-align: left;
}

.footer a{
  display: inline;
  font-size: 20;
  color: black;
  padding: 26px;
  color: black;
  padding: 17px;
  text-align: center;
  text-decoration: none;
}

.footer a.active{
  background-color: #555;
  color: white;
}

.footer a:hover:not(.active){
  background-color: #555;
  color: white
}
#en img {
  width: 25px;
  height: 20px;
  vertical-align: middle;
  margin-right: 2px;
  border-radius: 30%;

}
#no img{
  width: 25px;
  height: 20px;
  vertical-align: middle;
  margin-right: 2px;
  border-radius: 30%;
}

@media screen and (max-width: 700px) {
  .footer {
    text-align: center;
  }
  .footer a {
    padding: 2px;
    align: bottom;
  }
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.innhold {margin-left: 0;}

  .leaf {
    width: 100%;
    height: auto;
    position: relative;
  }

 .leaf img {
display: none;
}

div.Logo{
  margin:auto;
  padding: 1px 16px;
  height: 100px;
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;

  }
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

   .leaf img {
	display: none;
}
}
