html {

}

body{
  padding: 0;
  margin: 0;
  height:100vh;
  font-family: "Helvetica neue", sans-serif;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #7DD181;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-bottom: 50px;
}

.leaf{
	background-color: #7DD181;
	width:200px;
	text-align:center;
  position: relative;

}

.leaf img {
	width: 75%;
}

.sidenav a{
  display: block;
  font-size: 20px;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: none;
}

.sidenav a.active{
  background-color: #4CAF50;
  color: white;
}

.sidenav a:hover:not(.active){
  background-color: #555;
  color: white;
}

.sidenav img{
  width: 75%;
}

div.Logo{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100px;
}

div.innhold{
  margin-left: 200px;
  padding: 1px 16px;
  overflow: auto;
  margin-bottom: 50px;
}

.footer{
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#7DD181;
  color: white;
  text-align: left;
}

.footer a{
  display: inline;
  font-size: 20;
  color: white;
  padding: 26px;
  text-align: center;
  text-decoration: none;
}

.footer a.active{
  background-color: #4CAF50;
  color: white;
}

.footer a:hover:not(.active){
  background-color: #555;
  color: white
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.innhold {margin-left: 0;}

  .leaf {
    width: 100%;
    height: auto;
    position: relative;
  }

 .leaf img {
	display:block;
	position:relative;
	width: 50%;
}

div.Logo{
  margin:auto;
  padding: 1px 16px;
  height: 100px;
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;

  }
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

   .leaf img {
	display:block;
	width: 50%;
}
}
