body{
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #7BAE7F;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidenav a{
  display: block;
  color: white;
  padding: 18px;
  text-decoration: none;
}

.sidenav a.active{
  background-color: #4CAF50;
  color: white;
}

div.Logo{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100px;
}

div.innhold{
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
